<h1 class="HomeTitle">People Finder</h1>
<p class="HomeContent">This is a webpage which help you find the Person data in people.json, feel free to use.</p>
<form method="post" action="/search" name="searchForm">
    <label for="userName" class="Subtitle">Username: </label>
    <input type="text" name="userName" id="userName" placeholder="Username">
    <label for="userPWD" class="Subtitle">Password: </label>
    <input type="text" name="userPWD" id="userPWD" placeholder="Password">
    <button type="submit" class="button">Submit</button>
</form>
<p class="error">{{errorMsg}} {{error}}</p>
<a class="return" href="/details/1">Enter</a>