<h1 class="HomeTitle">People Found:</h1>
<h2>Results of '{{personName}}'</h2>
<ul class="stl">
  {{#each tmp}}
  <li>
    <h2><a class="lnkAll" href="/details/{{id}}">{{firstName}} {{lastName}}</a></h2>
  </li>
  {{/each}}
</ul>
<a class="return" href="/">Make another search</a>