<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hospital management system</title>
    <link rel="stylesheet" href="/public/site.css">
</head>
<body>
    <main>
        <p class = "intro">
            Hospital management system
        </p>
        {{{body}}}
    </main>
</body>
</html>